<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="js/tota11y.min.js"></script>
</head>
<body class="main">
<div class="col-sm-8 col-sm-offset-2">
    
    <div class="text-center">
        <h1 class="profile"> Username: {{user.local.email}}</h1><br>
        <span class="profile"><a href="/upload">Sell Your Goods</a></span>
    </div>

    <br>
    
    {{# if products}}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 c">
                <h3 class="profile">Previous Orders</h1><br>
                {{# each products}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="btn-group">
                            <strong>{{this.title}}</strong>
                            <img src={{this.imagePath}} alt="goodsImage" height="100px" width="150px">  
                        </div>
                        <span class="price">${{this.price}}</span>
                    </li>
                    </ul>
                {{/each}}
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No previous orders!</h2>
        </div>
    </div>
{{/if}}
    </div>
</div>
</body>
</html>