<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="js/tota11y.min.js"></script>
</head>
<body class="main">
{{# if products}}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            
                {{# each products}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{this.qty}}</span>
                        <div class="btn-group">
                            <strong>{{this.item.title}}</strong>
                            <img src={{this.item.imagePath}} alt="goodsImage" class="img-responsive"height="100px"width="100px">  
                        </div>
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                                <li><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                                <li><a href="/remove/{{this.item._id}}">Reduce All</a></li>
                                <li><a href="/add/{{this.item._id}}"> Add by 1</a></li>
                        </ul>
                        &nbsp<button class="add" type="button" name="add" onclick="">+</button>
                        &nbsp<button class="remove" type="button" name="remove" onclick="">-</button>
                        <span class="price">${{this.price}}</span>
                        &nbsp <button class="cancel" type="button" name="cancel" onclick="">Cancel</button>
                    </li>
                    </ul>
                {{/each}}
            
        </div>
    </div>

    <div class="row"align="center">
        <div class="amt"align="center">
            <strong>Total Amount: ${{totalPrice}}</strong>
        </div>
    </div>

    <hr/>
    <br/>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            
            <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
            <a href="/" type="button" class="btn btn-success">Continue Shopping</a>

            
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No Items in the Cart</h2>
        </div>
    </div>
{{/if}}
</body>
</html>



