<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="js/tota11y.min.js"></script>

    <script>
        function setColor() {

            var property = document.getElementById("rewards");
            if (localStorage.getItem('clicked') == 'true') {
                    property.style.backgroundColor = "red"     
                    property.innerHTML = "Remove applied reward points";
            }
            else {
                property.style.backgroundColor = "green"
                property.innerHTML = "You have {{rewardPoints}} reward points. Apply?";
            }
        }

        function runUrl(link) {
            var property = document.getElementById("rewards");
            if ( localStorage.getItem('clicked') == 'true') {
                localStorage.setItem('clicked', 'false');
                window.location = "/removeRewardPoints/{{rewardPoints}}";      
            }
            else {
                localStorage.setItem('clicked', 'true');
                window.location = "/applyRewardPoints/{{rewardPoints}}";
            }
        }
    </script>

</head>
<body class="main" onload="setColor()"> 
{{# if products}}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            
                {{# each products}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{this.qty}}</span>
                        <div class="btn-group">
                            <strong>{{this.item.title}}</strong>
                            <img src={{this.item.imagePath}} alt="goodsImage" class="img-responsive"height="100px"width="100px">  
                        </div>
                        <span class="price">${{this.price}}</span>
                        &nbsp<a href="/add/{{this.item._id}}" class="cart-button">+</a>
                        &nbsp<a href="/reduce/{{this.item._id}}" class="cart-button">-</a>
                        &nbsp<a href="/remove/{{this.item._id}}" class="cart-button">x</a>
                    </li>
                    </ul>
                {{/each}}
                
                {{# if rewardPoints}}
                    <div class="row"align="center">
                        <a id="rewards" type="button" class="btn btn-success" onclick="runUrl()"></a>    
                    </div>
                    <br>
                {{/if}}
        </div>
    </div>

    <div class="row" align="center">
        <div class="amt"align="center">
            <strong id="totalAmt">Total Amount: ${{totalPrice}}</strong>
        </div>
    </div>

    <hr/>
    <br/>
    <div class="row" align="center">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            
            <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
            &nbsp<a href="/" type="button" class="btn btn-success">Continue Shopping</a>

            
        </div>
    </div>
{{else}}
    <div class="row" align="center">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No Items in the Cart</h2>
            <a href="/" class="sell">Order Now!</a>
        </div>
    </div>
{{/if}}
</body>
</html>



